*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: oklch(21% 0.034 264.665);
  --font: 'Agency FB', 'Arial Narrow', Arial, sans-serif;
}

html, body, #root {
  height: 100%;
}

body {
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
